body{
    margin: 0;
    padding: 0;
    background-color: skyblue;
}
.header{
    text-align: center;
}
.contenedor{
    display: flex;
    margin-top: 50px;
    margin-left: 300px;
}
.columna{
    margin: 25px;
    background-color: white;
    height: 150px;
    padding: 50px;
    border-radius: 40px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0,0.7);
}
.boton{
    margin-top: 10px;
}
.boton button{
    padding: 10px;
    color: white;
    background: blue;
    border: none;
    border-radius: 5px;
    transition: color 0.8s;
}
.boton button:hover{
    padding: 11px;
    cursor: pointer;
    background-color: white;
    color: blue;
    border: 1px blue solid;
}
footer{
    font-size: 15px;
    text-align: right;
    font-weight: bold;
}